# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class

# Mac
.DS_Store
*.code-workspace
*.mp3
*.wav

# Builds and Releases
releases/
desktop-app/dist/
desktop-app/dist-electron/
desktop-app/node_modules/
vst-plugin/build/
vst-plugin/JUCE/
